@font-face {
    font-family: "Alfa Slab";
    src: url(../font/alfa-slab/AlfaSlabOne-Regular.ttf);
}
html {
    font-size: 14px;
}
body {
    background-color: rgb(51, 102, 202);
}
header {
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 10px #000;
}
header h1 {
    font-family: "Alfa Slab";
    letter-spacing: .5em;
    font-size: 3rem;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: transparent;
    height: 330px;
    width: 400px;
    perspective: 10000px;
    margin: 10px;
    border: 1px solid #fff;
    box-shadow: 7px 6px 18px #000;
}

section .flip-cover {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    background-image: radial-gradient(circle,#fff, rgb(51, 102, 202) 62%, blue);
}

section:hover .flip-cover {
    transform: rotateY(180deg);
}

.flip-cover img,
.description {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
}

.flip-cover img {
    /*background-color: #000;*/
    opacity: 0.8;
    color: #000;
}

.description {
    /*background-color: inherit;*/
    color: #fff;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, 
     rgb(51, 102, 202) 62%, 
     rgb(125, 159, 226));
     
}

.description h1 {
    width: 80%;
    border-bottom: 1px solid #fff;
    font-family: "Merriweather";
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.description p {
    width: 75%;
    font-family: Raleway;
    font-size: 1.5rem;
    margin: 7px;
}