@font-face {
    font-family: Alfa;
    src: url(../font/alfa-slab/AlfaSlabOne-Regular.ttf);
}
html {
    font-size: 14px;
}
body {
    background-color: rgb(51, 102, 202);
}
header {
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #fff;
}
header h1 {
    font-family: Alfa;
    letter-spacing: .5em;
    font-size: 3rem;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    background-color: transparent;
    height: 350px;
    width: 450px;
    perspective: 10000px;
    margin: 10px;
    border: 1px solid #fff;
}

section .flip-cover {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 1s;
    transform-style: preserve-3d;
}

section:hover .flip-cover {
    transform: rotateY(180deg);
}

.flip-cover img,
.description {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
}

.flip-cover img {
    background-color: #000;
    color: #000;
}

.description {
    background-color: rgb(51, 102, 202);
    color: #fff;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h1 {
    width: 80%;
    border-bottom: 1px solid #fff;
}
.description p {
    width: 80%;
}